<!-- lista-presentes.component.html -->
<div class="container">
  <h1>Lista de Presentes</h1>

  <ul class="lista">
    <li *ngFor="let iten of items">
      {{ iten.name }} - Qtd: {{ iten.quantidadeRestante }}
      <button *ngIf="iten.quantidadeRestante >= 1" (click)="openModal(iten)">Reservar</button>
      <span *ngIf="iten.quantidadeRestante == 0" class="reserved">
        Indisponível
      </span>
    </li>
  </ul>
</div>
<div class="modal" [ngClass]="{'show': isModalOpen}">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Preencha as informações</h2>
    
    <!-- Inputs no modal -->
     <label for="personName">Nome</label>
    <input type="text" [(ngModel)]="person.personName" id="personName" placeholder="Seu Nome">
    <label for="presente">Presente</label>
    <input type="text" disabled [ngModel]="item.name" id="presente">
    <label for="quantidade">Quantidade</label>
    <select [(ngModel)]="person.quantidade" id="quantidade">
      <option value="0" [selected]="0 === person.quantidade" disabled selected>Escolha uma opção</option>
      <option *ngFor="let i of range" [selected]="i === person.quantidade-1" value="{{i+1}}">{{i+1}}</option>
    </select>

    <!-- Botões -->
    <button class="btn-cancel" (click)="closeModal()">Cancelar</button>
    <button (click)="reserveItem()">Salvar</button>
  </div>
</div>
  